{% extends 'manager/base.html' %}

{% block title%}- About{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>About the software</h1>
        <blockquote>
            <p>Created by HZ.</p>
            <p>The following features are added.</p>
            <ul>
                <li>Cataloguing and organizing Movies, TV Shows, Cartoon Series in collection</li>
                <li>Give the path to the root of Movies/TV shows/Cartoons and it automatically acquires the proper info</li>
                <li>Ability to manually add or modify the info.</li>
                <li>Keeps record of entries not obtained automatically.</li>
            </ul>
        </blockquote>

    </div>
{% endblock content %}